build/
build-debug/
build-production/
build-production-hostx86/
build-production-nmake/
tmp/
tests/out/
tests/tmp/
*.pshield
*.pslic
*.o
*.lo
*.la
*.so
*.dll
*.lib
*.exp
*.obj
*.obj.d
*.tlog
*.recipe
*.lastbuildstate
loader/modules/
loader/.libs/
loader/Makefile
loader/config.h
loader/config.log
loader/config.status
loader/autom4te.cache/
.DS_Store
