build/
build-debug/
tmp/
tests/out/
tests/tmp/
*.pshield
*.pslic
*.o
*.lo
*.la
*.so
loader/modules/
loader/.libs/
loader/Makefile
loader/config.h
loader/config.log
loader/config.status
loader/autom4te.cache/
